
@{
    ViewData["Title"] = "Body";
}

<h1>Body Binding</h1>

<p>
    <label id="firstname">Bob</label>&nbsp;<label id="lastname">Smith</label>
</p>

<button class="btn btn-primary">Submit</button>
<br/><br/>

@section scripts{
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var firstname = $("#firstname").html();
            var lastname = $("#lastname").html();

            $("button").click(function (e) {
                $.ajax("/Home/Body", {
                    method: "post",
                    contentType: "application/json",
                    data: JSON.stringify({
                        firstName: firstname,
                        lastName: lastname
                    }),
                    success: function (data) {
                        $("#firstName").text(data.firstName);
                        $("#lastName").text(data.lastName);
                    }
                });
            });
        });
    </script>
}

<table class="table table-sm table-bordered table-striped">
    <tr><th>First Name:</th><td id="firstName"></td></tr>
    <tr><th>Last Name:</th><td id="lastName"></td></tr>
</table>
